/* Leaflet Map Fixes */
.leaflet-container {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.leaflet-control-container .leaflet-routing-container {
    display: none;
}

.dark .leaflet-tile {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.dark .leaflet-container {
    background: #0b0b14;
}